.top {
  background-color: #267ae9;
  padding-top: 150px;
  padding-bottom: 180px;
}

.top__inner {
  display: flex;

}

.top__info {
  max-width: 550px;
  margin-right: 35px;
}

.top-info__subtitle {
  font-family: Lato;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.top-info__title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.top-info__descr span{
  font-size: 19px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 35px;
  display: block;
}
.top-info__descr  {
  font-family: Lato;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
}

.top-info__list {
  list-style: none;
  margin-bottom: 50px;
}
.top-info__list li{
  font-family: Lato;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 3px;
  position: relative;
  padding-left: 24px;
}
.top-info__list li::before{
  position: absolute;
  content:"";
  background-image: url(../image/checkmarksquare_111077.png);
  width: 13px;
  height: 13px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color:black;
}

.top-info__btn {
  color:#ffffff;
  text-transform: uppercase;
  border: 3px solid #ffffff ;
  padding: 13px 44px;
  border-radius: 30px;
  margin-bottom: 15px;

}
.top-info__btn a{
}

.top-info__btn-descr {}

.top-images {}