/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a{
  color: black;
  display: inline-block;
}
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.header{
  border-top: 1px solid  #267ae9;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__logo{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 87px;
   

}
.menu__list{
  display: flex;
}

.menu__list li{
  margin-left: 38px;
}
.menu__list a{
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #2f3f54;
}